.sidebar {
  width: 200px;
  height: fit-content;
  background-color: #fff;
  margin: 10px;
  padding: 20px;
  margin-left: 30px;
  border-radius: 20px;
  border: 2px dashed #e2e2e2;
}
.sidebar div {
  width: 200px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: tomato;
  font-weight: 500;
}
.sidebar p {
  margin-left: 10px;
}
.sidebar li {
  list-style: none;
  cursor: pointer;
  padding: 5px;
}
.sidebar li:hover {
  color: tomato;
}
.selected {
  font-weight: 500;
  background-color: antiquewhite;
  border-radius: 8px;
}
